.grid_pelis{
  display: grid;
  grid-template-columns: repeat(auto-fill, 230px);
  gap: 40px;
  padding:40px 10px;
  justify-content: center;
}


.btn_container{
  padding:2rem 1rem;
  text-align: center;
  background: #000;
}
.btn_container button{
  padding: .7rem 1.5rem;
  background: rgb(39, 200, 39);
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 0 1rem;
  cursor: pointer;
  color: #fff;
  font-size: 1rem;

}
button:active{
  transform:scale(.98);
}

@media screen and (max-width:520px){
  .grid_pelis{
    grid-template-columns: 100%;
    justify-content:center;
  }
}